// Global default parameters
params {
    // --- General Options ---
    mode = ''
    enable_gpu = false
    useMamba = false
    bakta_db_type = 'light'
    force_db_update = ''
    help = ''

    // --- Resource Options ---
    max_cpus = ''
    max_memory = ''

    // -- Tool Parameters --
    fastp = ''
    fastplong = ''

    shovill = ''
    flye = ''
    unicycler = ''
    medaka = ''
    bwa_idx = ''
    bwa_mem = ''
    polypolish_filter = ''
    polypolish_polish = ''

    quast = ''
    mlst = ''
    bakta = ''
    amrfinderplus = ''
    plasmidfinder = '--extented_output'

    // --- Path & File Options ---
    db_setup = ''
    db_root = ''
    input_dir = ''
    output_dir = ''
    sample_sheet = ''
    results_dir = "${params.output_dir}/Results"
    scripts_dir = "${projectDir}/scripts"
    envs_dir = "${projectDir}/envs"
    assembly_dir = ""

    // --- Short-form Aliases ---
    c = ''
    m = ''
    d = ''
    i = ''
    o = ''
    s = ''
    h = ''

    max_cpus     = params.c ? params.c : params.max_cpus
    max_memory   = params.m ? params.m : params.max_memory
    db_root      = params.d ? params.d : params.db_root
    input_dir    = params.i ? params.i : params.input_dir
    output_dir   = params.o ? params.o : params.output_dir
    sample_sheet = params.s ? params.s : params.sample_sheet
    help         = params.h ? params.h : params.help
}

// Default process configuration
process {
  executor = 'local'
  cpus = { params.max_cpus ?: 8 }
  memory = { params.max_memory ?: '16 GB' }
}

// Default environment configuration
conda {
  enabled = true
  cacheDir = './.conda_cache'
  useMicromamba = params.useMamba
}

// Profiles
profiles {
  docker {
    includeConfig 'profiles/docker.config'
  }
}