params {
    mode = ''
    max_cpus = 8
    max_memory = '16 GB'
    db_root = ''
    input_dir = ''
    output_dir = ''
    sample_sheet = ''
    basecaller = ''
    enable_gpu = 'false'
    help = ''
    
    c = '' // for max_cpus
    m = '' // for max_memory
    d = '' // for db_root
    i = '' // for input_dir
    o = '' // for output_dir
    s = '' // for sample_sheet
    b = '' // for basecaller
    h = ''

    max_cpus     = params.c ? params.c : params.max_cpus
    max_memory   = params.m ? params.m : params.max_memory
    db_root      = params.d ? params.d : params.db_root
    input_dir    = params.i ? params.i : params.input_dir
    output_dir   = params.o ? params.o : params.output_dir
    sample_sheet = params.s ? params.s : params.sample_sheet
    basecaller   = params.b ? params.b : params.basecaller
    help         = params.h ? params.h : params.help
    
    results_dir = "${params.output_dir}/Results"
    scripts_dir = "${projectDir}/scripts"
    envs_dir = "${projectDir}/envs"
}

profiles {
  laptop {
    includeConfig 'conf/laptop.config'
  }
  server {
    includeConfig 'conf/server.config'
  }
}

conda {
  enabled = true
  cacheDir = './.conda_cache'
  useMicromamba = true
}
