// Disable Conda to avoid conflicts
conda.enabled = false

// Configure Docker settings
docker {
    enabled = true

    // --- Recommended Additions ---

    runOptions = """
        -v ${params.input_dir}:${params.input_dir}
        -v ${params.db_root}:${params.db_root}
        -u \$(id -u):\$(id -g)
    """

}